$purple: #591A5F;
$pink: #CA6B75;
$blush: #F2B5A7;
$yellow: #FEFFDF;
$blue: #C4E8F0;
$white: #FFFFFF;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: $purple;
  background-color: $blush;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

ul {
  list-style: none;
}

.wrap {
  padding: 0 22px;
  margin: 0 auto;
  max-width: 1128px;
  width: calc(100% - 44px);
}

main {
  flex-grow: 1;
  align-items: center;
  width: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: $purple;
  font-weight: 700;
  text-decoration: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  font-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}

.service-icon {
  display: block;
  width: 150px;
}

.sub-headline {
  font-size: 30px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.button-link {
  background-color: $blue;
  border: 3px solid $purple;
  border-radius: 15px;
  display: inline-block;
  padding: .5rem 1.5rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 3rem;

  .logo {
    max-width: 320px;
    width: 100%;
  }
}

.menu li {
  display: inline-block;
  margin-left: 1em;
}

.hero {
  text-align: center;

  .hero .sub-headline {
    max-width: none;
  }

  svg {
    fill: currentColor;
    max-width: 700px;
  }

  .button-link {
    margin-bottom: 12rem;
    margin-top: 4rem;
  }
}

.hero-headline {
  margin-top: 4rem;
}

.headline-image {
  text-align: center;

  svg {
    height: 40px;
  }
}

.what {
  background-color: $yellow;
  padding-bottom: 6rem;
  padding-top: 6rem;
  position: relative;
  text-align: center;

  &:before,
  &:after {
    background-size: auto 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 3.5vw;
    left: 0;
    position: absolute;
    width: 100vw;
  }

  &:before {
    background-image: url('../images/yellow-top-wave.svg');
    top: calc(-3.5vw + 1px);
  }

  &:after {
    background-image: url('../images/yellow-bottom-wave.svg');
    bottom: calc(-3.5vw + 1px);
  }

  .button-link {
    margin-top: 4rem;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 7rem;
  margin-top: 5rem;
  padding: 0;
}

.service {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.who {
  background-color: $blue;
  padding-top: 10rem;
  text-align: center;

  .button-link {
    background-color: $blush;
  }
}

.bio {
  background-color: $yellow;
  border: 3px solid $purple;
  border-radius: 25px;
  margin-bottom: 8rem;
  margin-top: 10rem;
  padding: 1rem 3rem;
  position: relative;
  text-align: left;
}

.bio-pic {
  height: 240px;
  float: right;
  margin-top: -6rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  right: 1rem;
}

.bio-link {
  align-items: center;
  background-color: $yellow;
  border-radius: 50%;
  border: 3px solid $purple;
  bottom: -70px;
  display: flex;
  flex-direction: column;
  height: 96px;
  justify-content: center;
  position: absolute;
  right: calc(1rem + 100px);
  text-align: center;
  width: 96px;

  img {
    width: 50px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }
}

.values {
  margin-top: 5rem;
  padding-bottom: 10rem;
}

.values-list {
  padding: 0;
}

.value-card {
  background-color: $yellow;
  border-radius: 15px;
  position: relative;
  padding: 1rem 1rem 1rem 5rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.values-icon {
  height: 90px;
  width: 90px;
  position: absolute;
  left: -1.5em;
}

.work {
  background-color: $purple;
  padding-top: 5rem;
  color: $yellow;
  position: relative;

  &:before {
    background-size: auto 100%;
    background-position: left bottom;
    content: ' ';
    display: block;
    height: 5.5vw;
    left: 0;
    position: absolute;
    width: 100vw;
    background-image: url('../images/purple-top-wave.svg');
    top: calc(-5.5vw + 1px);
  }

  span {
    display: block;
  }
}

footer {
  background-color: $purple;
  color: $blush;
  width: 100%;
}

.footer-menu-wrap {
  display: flex;
  justify-content: space-between;

  svg {
    height: 59px;
  }
}

.footer-menu {
  li {
    display: inline-block;
    margin-left: 1em;
  }

  a {
    color: $blush;
  }
}